#navbar{
    display: grid;
    gap: 20px;
    grid-template-columns: 70% 30%;
    background-color: rgb(214, 223, 223);
    padding: 10px;
}
#input{
    display: grid;
    gap: 20px;
    grid-template-columns: 30% 10%;
}
#btn-search{
    background-color: brown;
    padding: 7px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    box-shadow: 5px 2px rgb(141, 76, 76);
    border-radius: 10px;
}
#others{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
#others>a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}